p {
  font-family: Lato;
}

#container {
  position:absolute;
  border:5px solid gold;
}

#first {
  float:left;
  padding : 2%;
  border: 1px solid red;
}

#second {
  overflow:hidden;
  padding : 2%;
  border: 1px solid green;
}